# General
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
ENV/

# Project Specific
data/
node_modules/
